@model List<ControleUser.web.Models.RelatorioUsuarioModel>
@{
    ViewBag.Title = "Lista de Usuário";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
<link href="~/Content/Relatorio/ListaUsuario.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-12 text-center">
        <h3>Lista de Usuário</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Administrador</th>
                <th>Ativo</th>
            </tr>
        </thead>
        @{
            foreach (var item in Model)
            {
                var ativo = (item.Ativo ? "SIM" : "NÃO");
                var admin = (item.Administrador ? "SIM" : "NÃO");
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Login</td>
                    <td>@item.Email</td>
                    <td>@item.NomeCargo</td>
                    <td>@admin</td>
                    <td>@ativo</td>
                </tr>
            }
        }
        </table>
    </body>
</html>


