@model List<ControleUser.web.Models.UsuarioModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Usuários";
}

@section Styles{
    <link href="~/Content/Cadastro/Usuario.css" rel="stylesheet" />
}

@section TituloGrid{
    <th>Nome</th>
    <th>Login</th>
    <th>Email</th>
    <th>Cargo</th>
    <th>Administrador</th>
    <th>Ativo</th>
    <th>Ação</th>
}

@section LinhaGrid{
    @{
        foreach (var item in Model)
        {
                var ativo = (item.Ativo ? "SIM" : "NÃO");
                var admin = (item.Administrador ? "SIM" : "NÃO");
                <tr data-id="@item.Id">
                    <td>@item.Nome</td>
                    <td>@item.Login</td>
                    <td>@item.Email</td>
                    <td>@item.NomeCargo</td>
                    <td>@admin</td>
                    <td>@ativo</td>
                    <td>
                        <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                        @if (User.IsInRole("Administrador"))
                        {
                            <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                        }
                    </td>
                </tr>
        }
    }
}

@section CamposCadastro{
    <div class="row">
        <div class="form-group">
            @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBox("txt_nome", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_login", "Login", new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @if (User.IsInRole("Administrador"))
                {
                    @Html.TextBox("txt_login", null, new { @class = "form-control" })
                    @Html.ValidationMessage("login", null, new { @class = "text-danger" })
                }
                else
                {
                    @Html.TextBox("txt_login", null, new { disabled = "disabled", @class = "form-control" })
                    @Html.ValidationMessage("login", null, new { @class = "text-danger" })
                }
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_email", "Email", new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBox("txt_email", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_cargo", "Cargo", new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.DropDownList("ddl_cargo", new SelectList(ViewBag.ListaCargo, "Id", "Cargo"), new { @class = "col-md-6 control-label" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("txt_senha", "Senha", new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.TextBox("txt_senha", null, new { @class = "form-control", type = "password" })
            </div>
        </div>
        @if (User.IsInRole("Administrador"))
        {
            <div class="form-group">
                @Html.Label("cbx_admin", "Administrador", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.CheckBox("cbx_admin")
                </div>
            </div>
            <div class="form-group">
                @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.CheckBox("cbx_ativo")
                </div>
            </div>
        }

    </div>
}

@section Scripts{
    <script>
            var tituloPagina = '@ViewBag.Title';
            var url_excluir = '@Url.Action("ExcluirUsuario", "CadUsuario")';
            var url_confirmar = '@Url.Action("SalvarUsuario", "CadUsuario")';
            var url_page_click = '@Url.Action("UsuarioPagina", "CadUsuario")';
            var url_alterar = '@Url.Action("RecuperarUsuario", "CadUsuario")';

    </script>
    <script src="~/Scripts/Cadastro/Usuario.js"></script>
}

