@model List<ControleUser.web.Models.RelatorioGrupoModel>
@{
    ViewBag.Title = "Lista total de Grupos de Perfil";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
<link href="~/Content/Relatorio/ListaGrupo.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-12 text-center">
        <h3>Lista de Grupos</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Usuario Proprietario</th>
                <th>Data de Criação</th>
                <th>Ativo</th>
</thead>
        @{
            foreach (var item in Model)
            {
                var ativo = (item.Ativo ? "SIM" : "NÃO");
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.UsuarioProprietario</td>
                    <td>@item.DataCriacao</td>
                    <td>@ativo</td>
                </tr>
            }
        }
    </table>
</body>
</html>


